# 로컬에서 OAuth2 인증을 테스트하기 위한 설정 파일
spring:
  security:
    oauth2:
      client:
        registration:
          google:
            redirect-uri: "http://localhost:8080/login/oauth2/code/google"
          naver:
            redirect-uri: "http://localhost:8080/login/oauth2/code/naver"

app:
  oauth2:
    redirect-base-url: "http://localhost:8080/api/auth/test"